{% extends "home.html" %}

{% load static %}
<link rel="stylesheet" href="{%static 'css/estilos.css'%}">
{% block contenido %}
<h1>CLUB ATLÉTICO CADIVIL</h1>
<div>
    <p class="lead">Nuevo personal técnico</p>
    <form class="formregistro" action="/home" method="POST"> {% csrf_token %}
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="apellido" placeholder="Apellido">
        <input type="number" name="edad" placeholder="Edad">
        <input type="text" name="funcion" placeholder="funcion">
        <button type="submit" class="btn btn-primary"> REGISTRAR</button>
    </form>
    <p class="lead">Equipo Técnico</p>
    <p>{%for n in equipo%}
        Nombre y Apellido: {{n.nombre}} {{n.apellido}} Edad: {{n.edad}}  Funcion: {{n.funcion}}<br>
    {%endfor%}
    </p>
</div>
{% endblock %}